/*#region SECTION CLIENTS*/

.client-list {
    justify-content: center;
    @include mq(desktop) {
        flex-wrap: nowrap;
       }  
}

.client {
    text-align: center;
        --items: 2;

        @include mq(tablet) {
        --items: 3;
       }   
    
       @include mq(desktop) {
         --items: 7;
        }  
       
    &__link {
        display: block;
        border: 1px solid var(--icon-cl);
        border-radius: 4px;
        padding: 16px 32px;
        fill: var(--icon-cl);

        transition:
        fill var(--transition-duration) var(--transition-timing-function),
        border var(--transition-duration) var(--transition-timing-function);
    }
    
    &__link:hover, &__link:focus {
        border: 1px solid var(--accent-color);
        fill: var(--accent-color);
    }
}

/*#endregion*/