/*#region SECTION CLIENTS*/

.section {
    @extend %section;
}

.container {
    @extend %container;
}

.title {
    @extend %title;
}

.client-list {
    @extend %list;
    @extend %grid;
    justify-content: center;
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
       }  
    
}

.client {
    text-align: center;
    @extend %grid-item;
        --items: 2;

    @media screen and (min-width: 768px) {
        --items: 3;
       }   
    
    @media screen and (min-width: 1200px) {
         --items: 7;
        }  
    
    // &:nth-child(2n) {
    //     @media screen and (min-width: 768px) {
    //         margin-right: 0;
    //     }
    
    // &:not(:last-child) {
    //     @media screen and (min-width: 1200px) {
    //         margin-right: 30px;
    //         }  
    //     }
 
    
    &__link {
        display: block;
        border: 1px solid var(--icon-cl);
        border-radius: 4px;
        padding: 16px 32px;
        fill: var(--icon-cl);

        transition:
        fill var(--transition-duration) var(--transition-timing-function),
        border var(--transition-duration) var(--transition-timing-function);
    }
    
    &__link:hover, &__link:focus {
        border: 1px solid var(--accent-color);
        fill: var(--accent-color);
    }
}

/*#endregion*/