/*#region FOOTER*/
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
    width: 100%; 
}

.page-footer__container {
    text-align: center;

    @include mq(tablet) {
        @include centeredFlex(flex);
        align-items: baseline;
        flex-wrap: wrap;
    }
  
    @include mq(tablet-only) {
        justify-content: space-around;
    }

    @include mq(desktop) {
        flex-wrap: nowrap;
        text-align: start;
   }
}

.contact {
    @include mq(mobile-only) {
        margin-bottom: 60px; 
    }

    @include mq(desktop-only) {
        justify-content: space-around;
        margin-bottom: 60px; 
    }
}

.logo-footer {
    font-family: var(--secondary-font);
    @include fonts(700, 26px, 28px, 0.03em);
    
    text-decoration: none;

    display: block;
    margin-bottom: 20px;

    @include mq(tablet) {
        margin-right: 0;
    }

    @include mq(desktop) {
        margin-right: 0;
        text-align: left;
    }

    &__web {
        color: var(--accent-color);
    }
}

.page-footer__logo {
    color: var(--primary-background-color);
}

.address {
    display: block;

    &__text {
        margin: 0;
        margin-bottom: 10px;
        width: 100%;

        color: var(--primary-background-color);
        font-style: normal;

        @include mq(desktop) {
            margin-right: 70px;
            margin-bottom: 20px;
        }
    }
     
    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__link {
        display: block;
    
        color: var(--footer-text-color);
        font-style: normal;
        text-decoration: none;
    
        transition: color var(--transition-duration) var(--transition-timing-function);
    }

    &__link:hover,
    &__link:focus {
        color: var(--primary-background-color);
    }
}

/* Footer social-links */

.social-links {
    @include mq(mobile-only) {
        margin-bottom: 60px; 
    }

    display: inline-block;

    

    @include mq(desktop) {
        margin-right: 93px;  
    }

    &__text {
        margin-bottom: 20px;
        @include fonts (700, 14px, 16px, 0.03em);
        text-transform: uppercase;
        color: var(--primary-background-color);
    }
}

.page-footer__social-list {
    color: var(--primary-background-color);
    background-color: var(--icon-footer-cl);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

/* footer form */

.footer-form {

    &__text {
    
        margin-bottom: 20px;
        @include fonts(700, 14px, 16px, 0.03em);
        text-transform: uppercase;
        color: var(--primary-background-color);

        @include mq(desktop) {
            margin-bottom: 20px;
        }
    }
    &__field {
        position: relative;

        margin-bottom: 20px;
    }

    &__input::placeholder {
        margin-left: 15px;
        @include fonts(400, 16px, 20px, 0.03em);
        
        color: var(--footer-text-color);
    }

    &__input {
        outline: 0;
        color: var(--primary-background-color);
        padding-left: 50px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid var(--footer-form-border-cl);
        width: 310px;
        height: 50px;
        margin-bottom: 20px;
        transition: border var(--transition-duration) var(--transition-timing-function);

        @include mq(tablet) {
            width: 100%;
        }

        @include mq(desktop) {
           width: 358px;
           margin-right: 12px;
        }
    }

    &__input:focus,
    &__input:active {
        outline: 0;
        color: var(--primary-background-color);
        border: 1px solid var(--primary-background-color);
    }

    &__btn {
        
        @include centeredFlex(inline-flex);
        display: inline-block;
        
        @include mq(desktop) {
            position: relative;}
    }

    &__btn::after {
        content: ' ';
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 0L0 13.5L7.66994 16.3407L19.5 5.25002L10.5017 17.3896L10.509 17.3923L10.5 17.3896V24.0001L14.8013 18.982L20.2501 21.0001L24 0Z' fill='white'/%3E%3C/svg%3E%0A");        
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding-left: 30px;
    }
}
/*#endregion*/