/*#region FOOTER*/
.page-footer {
    padding: 60px 0 60px 0;
    background-color: var(--secondary-background-color);
    width: 100%; 
}

.container {
    @extend %container;
    text-align: center;
}

// .page-footer__container {
//     @include centeredFlex(flex);
//     align-items: baseline;
// }

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    display: block;
    margin-bottom: 20px;

    &__web {
        color: var(--accent-color);
    }
}

.page-footer__logo {
    color: var(--primary-background-color);
}

.address {
    display: block;
    // margin-right: 60px; 1200

    margin-bottom: 60px;

    &__text {
        margin: 0;
        margin-bottom: 10px;

        color: var(--primary-background-color);
        font-style: normal;
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__link {
        display: block;
    
        color: var(--footer-text-color);
        font-style: normal;
        text-decoration: none;
    
        transition: color var(--transition-duration) var(--transition-timing-function);
    }

    &__link:hover,
    &__link:focus {
        color: var(--primary-background-color);
    }
}

/* Footer social-links */

.social-links {
    display: inline-block;
    // margin-right: 93px; 1200
    
    margin-bottom: 60px;

    &__text {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-background-color);
    }
}

.page-footer__social-list {
    color: var(--primary-background-color);
    background-color: var(--icon-footer-cl);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

/* footer form */

.footer-form {
    &__text {
    
        // margin-bottom: 10px;

        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-background-color);
    }
    &__field {
        position: relative;

        margin-bottom: 20px;
    }

    &__input::placeholder {
        margin-left: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
    
        color: var(--footer-text-color);
    }

    &__input {
        outline: 0;
        color: var(--primary-background-color);
        padding-left: 50px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid var(--footer-form-border-cl);
        // width: 358px;
        width: 310px;
        height: 50px;
        // margin-right: 12px;
        margin-bottom: 20px;
    
        transition: border var(--transition-duration) var(--transition-timing-function);
    }

    &__input:focus,
    &__input:active {
        outline: 0;
        color: var(--primary-background-color);
        border: 1px solid var(--primary-background-color);
    }

    &__btn {
        // position: relative;
        @include centeredFlex(inline-flex);
        @extend %btn;
        display: inline-block;
        // top:20px;
    }
    &__btn:hover,
    &__btn:focus {
        background-color: #0B5E9E;
    }

    &__btn::after {
        content: ' ';
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 0L0 13.5L7.66994 16.3407L19.5 5.25002L10.5017 17.3896L10.509 17.3923L10.5 17.3896V24.0001L14.8013 18.982L20.2501 21.0001L24 0Z' fill='white'/%3E%3C/svg%3E%0A");        
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding-left: 30px;
    }
}
/*#endregion*/