/*#region HEADER*/
.page-header {
    background-color: var(--white-color);
    position: relative;
    border-bottom: 1px solid var(--portfolio-border-cl);
}

.page-header__container {
    @include centeredFlex (flex);
  }

.logo {
    font-family: var(--secondary-font);
    @include fonts(700, 24px, 30.42px, 0.03em);
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 26px;

    @include mq(desktop) {
       font-size: 26px;
       line-height: 1.19;
       }  

    &__web {
        color: var(--accent-color);
    }
  
    &__studio {
        color: #000000;
    }
}



.page-header__logo {

    @include mq(mobile)  {
        margin-right: 276px;
    }  

    @include mq(tablet) {
        margin-right: 88px;
    }   
    
    @include mq(desktop)  {
        margin-right: 93px;
    } 
}

.menu-button {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    padding-top: 26px;
    padding-bottom: 26px;
    border: 0;
    background-color: transparent; 

    @include mq(tablet) {
        display: none;} 
    }

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
    fill: var(--accent-color);
}  

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
    fill: var(--accent-color);
}  

.icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}


// Menu-container

.menu-container {
    text-align: left;
    font-size: 20px;
    &.is-open {
        @include mq(mobile-only) {
            display: block;
            height: 100vh;
        }
    } 
      
    @include mq(mobile-only) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 99;
        width: 100%;
        padding: 48px 40px;
        display: none;
        background-color: #fff;

        color: #212121;
        @include fonts(500, 40px, 46.8px, 0.02em);     
        text-align: left;
        font-style: normal;
    }

    @include mq(tablet) {
        display: flex;
        flex-grow: 1;
    }    
}


.navigation {
    
    @include mq(tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;}

    &__item:not(:last-child) {
        margin-right: 50px;
        @include mq(mobile-only) {
            margin-bottom: 32px;
        }
    }
    
    &__item {
    position: relative;
    @include mq(mobile-only) { 
        margin-bottom: 200px;
    }

}
    
    &__link {
    
     color: var(--title-text-color);
     text-decoration: none;
     @include fonts(500, 14px, 16px, 0.02em);
     padding: 32px 0 32px 0;

     transition: color var(--transition-duration) var(--transition-timing-function);

     @include mq(mobile-only) {
        @include fonts(500, 40px, 47px, 0.02em);
        color: #212121;}
    }
    
    &__link:hover,
    &__link:focus {
        color: var(--accent-color);}

 /* Current-link*/
    &__link--current {
        color: var(--accent-color);
        position: relative;}

    &__link--current::after {
        @include mq(tablet) {

        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
    
        display: block;
    
        width: 100%;
        height: 5px;
        background-color: var(--accent-color); }   
    }
}


/* contact links */
.contacts {
    display: flex;
    transition: 
        color var(--transition-duration) var(--transition-timing-function),
        fill var(--transition-duration) var(--transition-timing-function);  

        @include mq(tablet) {
            @include fonts(500, 12px, 14px, 0.02em);
            color: var(--primary-text-color);
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: auto;
    }


    @include mq(desktop) {
        @include centeredFlex (flex);
        flex-direction: row;
        align-items: center;
    }

    &__item:not(:last-child) {

        @include mq(tablet-only) {
     margin-bottom: 10px; }
     @include mq(desktop) {
            margin-right: 30px;
        }
    }

    &__link {
        @include centeredFlex (flex);

        color: var(--primary-text-color);
        fill: var(--primary-text-color);
        text-decoration: none;
        letter-spacing: 0.02em;
        font-weight: 500;
        
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
    
    &__icon {
        margin-right: 10px;
    }

    @include mq(mobile-only) {
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: flex-start;
    
    &__item:nth-child(1) {
        font-size: 28px;
        margin-bottom: 64px;

    }

    &__item:nth-child(2) {
        font-size: 32px;
        margin-bottom: 32px;
    }

    &__link {
        @include centeredFlex (flex);
        
        color: var(--primary-text-color);
        text-decoration: none;
        letter-spacing: 0.02em;
        font-weight: 500;
    }

    &__link--current {
        color: var(--accent-color);}

    &__icon {
        display: none;
    }
  }
}

.menu-social {
    @include mq(mobile-only) {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    
        &__item:not(:last-child) {
            margin-right:20px;
        }
        &__link {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: 0.02em;
            text-decoration: none;
            color: var(--accent-color);
        }
    }
    @include mq(tablet) {
        display: none;}
}

 /*#endregion*/